<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Scripts/index.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js" data-modules="effect effect-bounce effect-blind effect-bounce effect-clip effect-drop effect-fold effect-slide"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    @if (Session["token"] != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Messirve", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">


                        <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                        <li>@Html.ActionLink("SubCategoria", "Index", "SubCategoria")</li>
                        <li>@Html.ActionLink("Producto", "Index", "Producto")</li>
                        <li>@Html.ActionLink("Empresa", "Index", "Empresa")</li>
                        <li>@Html.ActionLink("PEmpresa", "Index", "PEmpresa")</li>
                        <li>@Html.ActionLink("Orden", "Index", "Orden")</li>
                        <li>@Html.ActionLink("OrdenProducto", "Index", "OrdenProduto")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Token")</li>

                    </ul>
                </div>
            </div>
        </div>
    }

    <div class="">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/notify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
